/* Reset CSS avec rem */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html {
    font-size: 62.5%; /* 1rem = 10px, facilite les calculs (10px/16px = 62.5%) */
    scroll-behavior: smooth;
    block-size: border-box;
}

h1, h2, h3, h4, h5, h6, p, ol, ul, figure, blockquote, dl, dd {
    margin: 0;
    padding: 0;
}

body {
    font: 1.6rem "Open Sans", serif;
    line-height: 1.6;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100svh;
    scroll-behavior: smooth;
}

ol, ul {
    list-style: none;
}

img{
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: inherit;
}

:root{
  --jasper: #dd5347ff;
  --seasalt: #fafafaff;
}

/* My header */
header{
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  background-color: #ffff;
  align-items: center;
  box-shadow: 0 2px 6px #0000001f,inset 0 -1px #dadce0;
}
header figure{
  width: 30px;
  height: 30px;
  margin-left: 20px;
}
header figure img{
  width: 100%;
}
header h1{
  font-size: 2.3rem;
  margin-left: 5px;
  color: #62666B;
  font-weight: 400;
}
header nav{
  position: absolute;
  right: 0;
}
header nav ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul li{
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  transition: .3s ease-in-out;

}
header nav ul li:hover{
  transition: .3s ease-in-out;
  color: #dd5347;
}

header nav ul .create-account-button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background-color: var(--jasper);
  color: #ffff;
}
header nav ul .create-account-button:hover{
  color: #ffff;
}
/* Section home */
.section-home{
  margin-top: 50px;
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../asset/home-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.section-home p{
  position: absolute;
  top: 17%;
  left: 8%;
  font-size: 3rem;
  font-weight: 300;
  color: #ffff;
}
.section-home .boutton{
  position: absolute;
  top: 46%;
  left: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background-color: var(--jasper);
  color: #ffff;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 1.6rem;
  cursor: pointer;
}

/* Down arrow */
.section-home figure{
  width: 40px;
  height: 40px;
  border-radius: 50px;
  position: fixed;
  right: 3%;
  bottom: 5%;
  background-color: var(--jasper);
  cursor: pointer;
  transition: transform 0.3s ease;
}
.section-home figure img{
  position: absolute; /* Important pour le positionnement */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}
.section-home figure:hover{
  transform: scale(1.1);
}
/* Section form */
.section-form{
  padding-top: 60px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.section-form h2{
  width: 300px;
  font-size: 2.5rem;
  font-weight: 300;
  text-align: center;
}
.section-form p{
  width: 450px;
  font-size: 1.7rem;
  text-align: center;
}
/* form */
.section-form form{
  width: 700px;
  margin-bottom: 20px;
}
.section-form form fieldset{
  border-radius: 5px;
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.section-form form legend{
  font-size: 2.3rem;
  font-weight: 300;
}
.section-form form label{
  font-size: 1.7rem;
}
.section-form form input{
  width: 95%;
  height: 30px;
  background-color: #F8F5F5;
  border: solid 1px #d1d0d0 ;
  border-radius: 5px;
}
.section-form form button{
  margin-left: 27%;
  margin-right: 27%;
  margin-top: 20px;
  background-color: #1A73E8;
  font-size: 1.6rem;
  height: 40px;
  color: #ffff;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
.section-form form input{
  font-size: 1.7rem;
}


body{
  overflow: hidden;
}

.section-form {
  padding-top: 80px;
}
.section-form h2{
  width: 600px;
}